<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- load the properties file: propertyFile.txt-->

    <context:property-placeholder location="classpath:propertyFile.txt"/>

    <!-- bean definitions here -->

    <bean id="baseballCoach"
          class="XML_Conf.DI_by_constructor.BaseballCoach"
          scope="singleton">
        <!-- new instances reference point to the same object  DEFAULT -->
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="cricketCoach"
          class="XML_Conf.DI_set_values_from_file.CricketCoach">
        <property name="team" value="${foo.team}" />
        <property name="email" value="${foo.email}" />
    </bean>


    <bean id="tennisCoach"
          class="XML_Conf.DI_by_setter.TennisCoach"
         scope="prototype">
    <!-- new instances with different reference-->

    <property name="fortuneService" ref="myFortune"/>
    </bean>

    <bean id="myFortune" class="XML_Conf.HappyFortuneService"/>


</beans>